#dotbox{
    margin:0;
    padding:0; 
    color:black ;  
    border:  1px solid red;
    width: 195px;
    height:195px;
    text-align: center;
    font-size: 100px;
    position: absolute;
    
}  




